@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.blockCustomShadow {
  box-shadow: 0px 0px 24px -8px rgba(66, 68, 90, 1);
}

.blockCustom{
  background: white;
  border-radius: var(--radius);
  box-shadow: 0px 0px 24px -8px rgba(66, 68, 90, 1);
  gap: 1rem;
  padding: 1rem;

}

html {
  color-scheme: light; 
}